.khung {
	margin: 0 auto;
	width: 1000px;
	height: auto;
}
/*bai cua van*/
.khung .khung1{
	margin: 0;
	float: left;
	width: 1000px;
	height: 100px;
}
.khung1 .boxlogo{
	margin: 0;
	float: left;
	width: 250px;
	height: 100px;
}
.boxlogo img{
	width: 100%;
	height: 100%;
}
.khung1 .boxh1{
	margin: 0;
	float: left;
	width: 750px;
	height: 50px;
}
.boxh1 h1{
	margin: 0;
	color: red;
	font-size: 25px;
	display: block;
    padding: 10px 40px;
}
.khung1 .boxmenu{
	margin: 0;
	float: left;
	width: 750px;
	height: 50px;
}
.boxmenu ul{	
	float: left;
	margin: 0;
	width: 750px;
	height: 100px;
	list-style-type: none;

}
.boxmenu ul li{
	padding: 16px 18px 16px 0px;
	float: left;
	width: 	auto;
	color:#3A5FCD;
	text-transform: uppercase;
	font-size: 13px;
}
.boxmenu ul li:hover{
	color: red;
}
.boxmenu ul li a{	
	text-decoration: none;
}

.khung .khung2{
	margin: 0;
	float: left;
	width: 1000px;
	height: 400px;
}
.khung2 img{
	width: 100%;
	height: 100%;
	opacity: 0.6;
}
.khung2 a.a1{
	float: right;
	margin-top: -200px;
	background: black;
	color: white;
	font-size: 60px;
	text-decoration: none;
	text-align: center;
    width: 60px;
    height: 60px;
}
.khung2 a.a2{
	float: right;
	margin-top: -135px;
	background: black;
	color: white;
	font-size: 60px;
	text-decoration: none;
	width:60px;
	height: 60px;
	text-align: center;
}
.khung2 .boxten{
	margin-top: -67px;
	width: 1000px;
	height: 62px;
	background: black;
	float: left;
}
.boxten h2{
	margin: 0;
	float: left;
	color: white;
	font-size: 27px;
	display: block;
	padding: 15px;
}
/*ket thuc bai cua van*/
.boxlinhvuc{
	width: 100%;
	height: 16%;
	float: left;
}
.boxlinhvuc h1.de{
	width: 100%;
	height:30%;
	text-transform: uppercase;
	font-family: arial;
	font-size: 20px;
	text-align: center;
	line-height: 100%;
	color: red;
	text-decoration: underline;
}
.boxlinhvuc img.a{
	float: left;
	width: 24%;
	height:220px;

}
.boxlinhvuc a.a{
	float: left;
	width: 24%;
	height:30px;
	background: #033f99;
	font-family: arial;
	font-size: 13px;
	color: white;
	text-decoration: none;
	line-height: 30px;
	text-align: center;
}
/*00 */
.thuy{
	width: 1000px;
	height: ;
	margin: 0 auto;
	

}
.thuy .menu{
	float: left;
	margin: 0 auto;
    width: 100%;
    height: 50px;
    background: white;
}

.thuy .menu a{
	margin:0 auto;
	float: left;
	width: 195px;
	height: 2px;
	color: red;
	padding-top: 8px;
	padding-left: 5px;
	display: block;

}
.thuy .menu a:hover{
	color: black;
	
}
.thuy .menu ul{
	float: right;
	width: 800px;
	height: 100%;
	background:white;
	margin: 0 auto;
	padding: 0;
	list-style: none;

}
.thuy .menu ul li{
	float: left;
	margin: 0 auto;
	width: 24%;
	height: 100%;
	padding-left: 8%;
	text-align: center;

}
.thuy .menu ul li a{
	text-decoration: none;
	color: blue;
}
.thuy .menu ul li a:hover{
	color: black;
}
.thuy .box{
	float: left;
	margin: 0 auto;
	width: 100%;
	height: 250px;
	
}
.thuy .box .hinh{
	float: left;
	margin: 0 auto;
	width: 24.625%;
	height: 250px;
	
}
.thuy .box .hinh img{
	float: left;
	margin: 0 auto;
	width: 100%;
	height: 150px;

}
.hinh h3{
float: left;
margin: 0 auto;
color: blue;
display: block;
text-align: center;
width: 100%;
height: 30px;
padding-top: 10px;
}
.hinh ul{
	float: left;
	width: 228px;
	height: 60px;
	margin: 0 auto;
	padding-left: 20px;
}
.hinh ul li{
	color: black;

}
/*00*/
.BoxTinTuc
{
	margin: auto;
	float: left;
	width: 100%;
	height: 330px;
	background: #ffff;

}
.Billeft
{
	float: left;
	margin:auto;
	width: 25%;
	height: 100%;
	background: #ffff;
	margin-right:5px;
}
.Billeft .Bittieude h4
{
	color: red;
	margin-left: 5px;
}
.Bithinhanh
{	margin-top: -10px;
	width: 100%;
	height: 50%;
	background: #ffff;
}
.Bitthongtin p
{	

	margin-top: 3px;
	margin-left: 5px;
	font-size: 13px;
}

.Bilmid
{
	float: left;
	margin:auto;
	width: 28%;
	height: 100%;
	background: #ffff;
	margin-right:3px;

}
.Bilmid img
{	float: left;
	width: 75px;
	height: 43px;
	margin-right: 5px;
}
.Bilmid p
{	padding-top: 5px;
	font-size: 12px;
}
.Bitanhvatintuc1
{   margin-top: 50px;
	width: 100%;
	height: 13%;
	background: #ffff;
}
.Bitanhvatintuc2
{  	margin-top: 4px;
	width: 100%;
	height: 13%;
	background: #ffff;
}
.Bitanhvatintuc3
{  	margin-top: 4px;
	width: 100%;
	height: 13%;
	background: #ffff;
}
.Bitanhvatintuc4
{  	margin-top: 4px;
	width: 100%;
	height: 13%;
	background: #ffff;
}
.Bitanhvatintuc5
{  	margin-top: 4px;
	width: 100%;
	height: 13%;
	background: #ffff;
}
.Bilright
{
	float: left;
	margin:auto;
	width: 46.2%;
	height: 100%;
	background: #ffff;

}
.BitVide
{	margin-top: -11px;
	width: 100%;
	height: 84.5%;
	background: #fff;
}